@import '../../../../node_modules/antd/lib/style/themes/default.less';
// @import '~@/utils/utils.less';

.productList {
  .productGrid {
    width: 33.33%;
    cursor: pointer;

    .meta {
      margin-bottom: 8px;
      :global {
        .ant-card-meta-title {
          text-overflow: inherit;
          overflow: inherit;
          white-space: inherit;
        }
        .ant-card-meta-description {
          color: @text-color-secondary;
          line-height: 22px;
          overflow: hidden;
          min-height: 150px;
          height: 250px;
          overflow-y: scroll;
        }
      }
    }
    .gridLine {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      & > div {
        margin-bottom: 4px;
      }
      &-main {
        color: @primary-color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &-right {
        margin-left: auto;
      }
    }
  }
}

.caseList {
  .grid {
    width: 25%;
    padding: 0;
    :global {
      .ant-card-cover {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
          width: 160px;
          height: 160px;
        }
      }
      .ant-card-meta {
        margin: 10px;
      }
    }
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}
